
  
  blockquote {
    margin: 30px;
    background-color: hsl(0, 4%, 86%); /* Fundo cinza */
    padding: 10px;
    border-left: 5px solid rgba(152, 152, 152, 0.74);
}
  
  

li{
    padding: 0.7%;
    /* margim das letras li gpt */
    margin-left: 70px;
    text-align: left;
    /* distancia das letras li gpt */
    line-height: 25px;
    font-weight: normal;
    color: Black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;   

}

  /* numeros 1º 2º 3º */
.check-list ol{
    text-align: left;
    line-height: 30px;
    font-weight: normal;
    margin-left: 70px;
    margin-right: 30px;
    color: Black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.check-list a{
    color: red;
}
.check-list img{
    width: 25px;
    height: 20px;
}



p {
    text-align: left;
    text-indent: 30px;
    margin: 5px;
    margin-top: 10px;
    margin-left: 1px;
    margin-right: 30px;
    line-height: 35px;
    padding: 0,1%;
    color: Black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}



h3 {
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #bc0006;
    font-size: 24px;
    padding: 0,2%;
    text-align: left;
    }
h4 {
        color: #000000;
        margin-left: 30px;
        font-size: 22px;
        padding: 0,2%;
        text-align: left;
}
h5 {
        color: #000000;
        font-size: 22px;
        margin-top: 10px;
        margin-left: 30px;
        padding: 0,2%;
        text-align: left;

}
   /* h6 Fonte da data de atualização */
h6 {
    color: #000105;
   margin-top: 7px;
    font-size: 20px;
    text-align: left;
}


/* letras texto de caixa na seção */
section p{
    margin-left: 30px;
    margin-right: 70px;
    font-size: 22px;
    color: black;
    padding: 0,1%;
    text-align: left;
        font-family: Arial, Helvetica, sans-serif;
}



.suggestion {
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-banner img{
       
    width: 100%;
    height: 500px;    
}
.img-banner-index img{
       
    width: 100%;
    height: auto;
}



    

/* imagem do menu da página home index */
.img-menu{
    height: 200px;
    width: 270px;
    
    align-items: center;
    text-align: center;
    float: left;
    image-orientation: left;
    padding: 1% 2%;
}
.img-menu a :hover{
    color: #f9464f;
}
.img-menu a{
    padding: 0.1%;
    float: center;
    
    image-orientation: flex;
    margin-top: 1px;
    text-decoration: none;
    font-size: 18px;
}
.img-menu a:hover{
    color: #f9464f;
    }

.img-menu img{
        width: 100%;
        border: 4px solid #5654b3;
}
.logo img{
    width: 50%;
    height: auto;
}
/* imagem do embed index */



.img-embed {
    width: 300px;
    height: 180px;
    margin-bottom: 70px; /* Espaçamento inferior para separar as imagens do caption */
    object-fit: cover; /* Ajuste para preencher o espaço sem distorção */
    display: block; /* Garante que a imagem seja tratada como um bloco */
    float: left; /* Alinha a imagem à esquerda */
    margin-left: 50px; /* Define a margem esquerda de 30px */
}

.img-embed img {
    width: 100%;
    height: 100%;
    border: 4px solid #5654b3;
}


.img-embed a :hover{
    color: #f9464f;
}
.img-embed a{
    padding: 0.1%;
    /* float e text align para texto a esquerda */
    float: left;
    text-align: left;
    color: black;
    image-orientation: flex;
    margin-top: 1px;
    text-decoration: none;
    font-size: 14px;
}

.img-embed a:hover{
    color: #f9464f;
    }


    
        /* guide imagem do logo do guia de Heróis */
.img-logoguide{
    max-width: 100%;
    height: auto;
    margin: 80px;
    text-align: center;
    
    margin-inline: center; 
    float: center;
    image-orientation: center;        
}

    /*imagens de sugestões no rodapé */
.img-sugestion{
    width: 180px;
    height:auto;       
    align-items: center;
    text-align: center;
    float: left;
    image-orientation: left;
    padding: 2% 3%;
    margin-top: 10px;
}
.img-sugestion a{  
    float: center;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
    
}
.img-sugestion img{
    width: 80%;
}
.img-sugestion a:hover {
    color: red;
}

/*imagens de mais old180 e auto visitados */

/* imagem do embed index */
.img-visited{
    width: 300px;
    height: 180px;
   
    
    margin-bottom: 70px;
    align-items: center;
    text-align: center;
    float: left;
    image-orientation: left;
    padding: 1% 2%;
}
.img-visited a :hover{
    color: #f9464f;
}
.img-visited a{
    padding: 0.1%;
    /* float e text align para texto a esquerda */
    float: left;
    text-align: left;
    color: white;
    image-orientation: flex;
    margin-top: 1px;
    text-decoration: none;
    font-size: 14px;
}
.img-visited a:hover{
    color: #f9464f;
    }

.img-visited img{
        width: 100%;
        height: 100%;
        margin-bottom: 10px; /* Espaçamento inferior para separar as imagens do caption */
    object-fit: cover; /* Ajuste para preencher o espaço sem distorção */
    display: block; /* Garante que a imagem seja tratada como um bloco */
        border: 4px solid #5654b3;
}
        


   /* imagens do menu guia de heróis */
.img-menuguide {
    
    padding: 2% 3%;
    float: left;
    box-sizing: border-box; /* para que padding não afete o width */
    text-align: center; /* centraliza o conteúdo do link */
}

.img-menuguide a {
    text-decoration: none; /* Remove o sublinhado */
    border: 1px solid rgb(255, 255, 255); /* Define a borda */
    display: flex; /* Usa flexbox para alinhar o conteúdo */
    flex-direction: column; /* Organiza a imagem e o texto verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    text-align: center; /* Garante que o texto fique no centro */
    padding: 10px 0; /* Adiciona espaçamento interno para o texto */
}


.img-menuguide a:hover {
    color: red;
}



     /* imagens do menu guia de heróis */    
.img-home{
    width: 100%;
    
    
   margin-bottom: 80px;
    align-items: center;
    text-align: center;
    float: left;
    image-orientation: left;
    padding: 2% 3%;
    
}
.img-home a{
    float: center;
    text-decoration: none;
   
    
}

.img-home a:hover{
    color: red;
    }
.img-home img{
    border: 4px solid #5654b3;
    width: 400px;
    height: 200px;       
    
}



/*imagens de mais visitados */
.img-new{
    width: 180px;
    height:auto;       
    align-items: center;
    text-align: center;
    float: left;
    image-orientation: left;
    padding: 2% 3%;
    margin-top: 10px;
}
.img-new a{  
    float: center;
    text-align: center;
    text-decoration: none;
    
    
}
.img-new img{
    width: 80%;
}
.img-new a:hover {
    color: red;
}


    /* imagem do herói no nível máximo*/
   

.img-max img{
    width: 50%;
    margin-left: 30px;
    margin-bottom: 0px;
    border: 5px solid #5654b3;
}
.img-max a{
    
    margin-left: 30px;
    }

.img-artifact img{
    width: 20%;
    border: 7px solid #5654b3;
    text-align: center;
    margin-left: 30px;
    align-items: center;
    
}
.img-artifact a{
    
    margin-left: 30px;
    
}

.img-counters {
    text-align: center; /* Center the image horizontally within the parent container */
}

.img-counters img {
    width: 50%; /* Maintain the desired width of the image */
    display: block; /* Treat the image as a block element */
    margin: 0 auto; /* Automatically center the image within its container */
}




.hero-link img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}


.hero-tierlist {
    text-align: left; /* Centraliza o conteúdo */
    margin-top: 40px;
}

.hero-tierlist img{
    margin: left;
    display: block; /* Imagem tratada com elemento de bloco */
     /* margin: auto; Centraliza a imagem na div */
    width: 20%; /* Define a imagem para 50% do tamanho original */
    height: auto; /* Mantém a proporção da imagem */
}

.image-spells {
    text-align: center; /* Centraliza o conteúdo da célula */
    vertical-align: middle; /* Centraliza verticalmente */
  }
  .image-spells img {
    display: block; /* Faz com que a imagem seja tratada como bloco */
    margin: 0 auto; /* Margem automática para centralização horizontal da imagem */
    max-width: 100%; /* Garante que a imagem não exceda a largura da célula */
    height: auto; /* Mantém a proporção da imagem */
  }
.img-spells {
    display: inline-block;
    text-align: center; /* Alinha o texto ao centro */
    margin-right: 20px; /* Espaçamento entre as imagens */
    margin-left: 30px;
}

.img-spells a {
    display: block; /* Transforma o link em um bloco */
}

.emblem {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}
.emblem-title {
    display: flex;
    align-items: center;
}
.emblem-title img {
    margin-right: 10px;
    width: 60px;
    height: 60px;
}


.img-middle {
    margin-left: 40px;
    font-style: italic;
    font-size: 14px;
    text-align: left; /* Alinha o texto à esquerda */
    width: 300px; /* Ajuste conforme o tamanho da imagem */
    margin-bottom: 20px;
}

.img-middle img {
    width: 90%; /* Para garantir que a imagem preencha a largura */
    height: auto; /* Para manter a proporção da imagem */
}


.img-builds {
    text-align: left;
    margin-bottom: 15px;
}
.img-builds img {
    width: 370px;
    height: 250px;
   margin-left: 30px;
    display: block; /* Garante que a imagem tenha um comportamento de bloco */
    margin: left; /* Centraliza a imagem horizontalmente */
}
.img-builds figcaption {
    text-align: left;
    width: 100%;
    
}


/* Contêiner principal para organizar as imagens */
/* imagens do menu guia de heróis */    
.img-menumobile{
    height: 210px;       
    width: 190px;
   
    align-items: center;
    text-align: center;
    float: left;
    image-orientation: left;
    padding: 2% 3%;
    
}
.img-menumobile a{
    float: center;
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
    
}
.img-menumobile img{
    width: 80%;
}

.img-menumobile a:hover{
    color: red;
    }
/* imagem do embed index */
.img-menupc{
    width: 300px;
    height: 180px;
   
    
    margin-bottom: 120px;
    align-items: center;
    text-align: center;
    float: left;
    image-orientation: left;
    padding: 1% 2%;
}
.img-menupc a :hover{
    color: #f9464f;
}
.img-menupc a{
    padding: 0.1%;
    /* float e text align para texto a esquerda */
    float: left;
    text-align: left;
    color: black;
    image-orientation: flex;
    margin-top: 1px;
    text-decoration: none;
    font-size: 14px;
}

.img-menupc a:hover{
    color: #f9464f;
    }

.img-menupc img{
    
        width: 100%;
        height: 100%;
        border: 4px solid #5654b3;
}




figcaption {
    margin-left: 30px;
    margin-bottom: 15px;
    color: black;
    font-style: italic;
    padding: 0px;
    text-align: left;
  }

.table-combos th{
    color: black;
    
}



.table-combos th, td {
    border: 1px solid black;
    padding: 5px;
  }

.table-combos table{
    margin: 31px;
    margin-top: 3px;
    font-size: 20px;
    
    border: 1px solid rgb(0, 7, 11);
    text-align: center;
}
/* Estilo para o cabeçalho da tabela modelo novo 2024 */
table {
    margin: 30px;
    width: 70%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-family: Arial, sans-serif;
  }
  
  /* Estilo para o cabeçalho da tabela */
  th {
    background-color: #f2f2f2;
    border: 1px solid rgb(141, 136, 136);
    padding: 8px;
  }
  
  /* Estilo para as células da tabela */
  td {
    border: 1px solid rgb(141, 136, 136);
    padding: 8px;
  }

/* Estilo para Description List FAQ(dl, dt, dd) */
dl {
    border: 2px solid #444; /* Borda ao redor da lista */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    background-color: #f9f9f9; /* Fundo claro */
    margin: 20px 0; /* Espaçamento externo */
    font-family: 'Arial', sans-serif; /* Fonte padrão */
}
/* Estilo para Description List FAQ(dl, dt, dd) */
dt {
    font-weight: bold; /* Destaque para as perguntas */
    font-size: 1.2rem; /* Tamanho maior para o título */
    margin-bottom: 5px; /* Espaço abaixo das perguntas */
    color: #333; /* Cor escura */
}
/* Estilo para Description List FAQ(dl, dt, dd) */
dd {
    margin: 0 0 20px 20px; /* Recuo para alinhar com as perguntas */
    font-size: 1rem; /* Tamanho da resposta */
    line-height: 1.6; /* Melhor espaçamento entre linhas */
    color: #302d2d; /* Cor levemente mais clara */
}

/* fonte para comentarios click no botao abaixo */
  #loadScript {
    padding: 10px 20px;
    font-size: 16px;
}
.mobile-only {
    display: none;
}
   

main{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.Lucca blockquote{
    padding: 1%;
    font-size: 20px;
    background-color: #f9fbfc;
    border: 1px solid rgb(0, 7, 11);
    text-align: left;
    margin-left: 31px;
    margin-right: 62px;
}
  
  


iframe{    
    
    margin-left: 1px;
       
}



/* inicio video youtube 2024  */
.video-container {
    width: 99%;
    max-width: 500px;
    margin: 30px;
}
.video-wrapper {
    position: relative;
    padding-bottom: 49.5%;
    height: 0;
    overflow: hidden;
}
.video-iframe {
    position: absolute;
    bottom: 0;
    top: 1px;
    left: 0;
    right: 1px;
    width: 87%;
    height: 100%;
    border: 5px solid #fa0303; 
}
.video-caption {
    text-align: left;
    margin: 2px 0 0 0;
    font-size: 14px;
    width: 100%;
}

/* fim video youtube 2024  */


@media (max-width:840px) {
   
   

     iframe{    
    
        margin-left: 2px;
           
    }

     

    
    .img-banner img{
       
        width: 100%; 
        height: auto;
       
    }
    .img-banner-index img{
       
        width: 100%; 
        height: auto;
      
    }

    
   
    .logo img{
        width: 50%;
        height: auto;
    }
        

    .img-menu img{
        width: 85%;
          
    }
    
    .img-max{
        margin-inline: center; 
        float: center;
        image-orientation: center;    
       
    }
    
    .img-max img{
        width: 98%;
        margin: 5px;
        
    }
    .img-max a{
        
        margin: 5px;
        
    }
    .img-artifact img{
        width: 60%;
        
       
        
    }

    
    .img-sugestion{
        width: 40%;
        
    }
    

    

    .img-new img{
        width: 70%;
          
      }
      .img-builds {
        margin: left;
    } 
      .img-builds img{
        margin-left: 9px;
       width: 95%;
    } 
    
        
     
    

    .img-counters img{
        width: 70%;
    } 
    figcaption {
        font-size: 14px;
        margin-left: 5px; 
    }


    .video-container {
    
        margin: 5px;
    }
    
    
    .video-caption {
       
        margin: 5px;
        font-size: 14px;
       
    }

       
    .img-menuguide{
        width: 50%; /* ajusta para 1 imagem por linha em telas muito pequenas */
        height: auto; /* altura automática para manter a proporção */ 
        
        margin-bottom: 20px;
        font-size: 18px;
    }

    .img-menumobile{
        Width: 30%;
        height: 160px;       
    }

    .img-home {
        width: 300px;
        height: 180px;
        margin-bottom: 30px; /* Espaçamento inferior para separar as imagens do caption */
        object-fit: cover; /* Ajuste para preencher o espaço sem distorção */
        display: block; /* Garante que a imagem seja tratada como um bloco */
        float: left; /* Alinha a imagem à esquerda */
        margin-left: 10px; /* Define a margem esquerda de 30px */
        
    }
    
    .img-home img{  
        width: 100%;
        height: auto;
       
    }
    
    .img-visited {
        width: 300px;
        height: 180px;
        margin-bottom: 70px; /* Espaçamento inferior para separar as imagens do caption */
        object-fit: cover; /* Ajuste para preencher o espaço sem distorção */
        display: block; /* Garante que a imagem seja tratada como um bloco */
        float: left; /* Alinha a imagem à esquerda */
        margin-left: 10px; /* Define a margem esquerda de 30px */
    }
    
    .img-visited img {
        width: 100%;
        height: 100%;
        border: 4px solid #5654b3;
    }
    
    
    
    
    .img-embed {
        width: 300px;
        height: 180px;
        margin-bottom: 70px; /* Espaçamento inferior para separar as imagens do caption */
        object-fit: cover; /* Ajuste para preencher o espaço sem distorção */
        display: block; /* Garante que a imagem seja tratada como um bloco */
        float: left; /* Alinha a imagem à esquerda */
        margin-left: 10px; /* Define a margem esquerda de 30px */
    }
    
    .img-embed img {
        width: 100%;
        height: 100%;
        border: 4px solid #5654b3;
    }
    
    

    .emblem {
       
        margin-left: 5px;
    }

    .hero-tierlist img{
        
        width: 30%; /* Define a imagem para 50% do tamanho original */
       
    }

     
    

   
    section p{
        font-size: 19px;
        margin-left: 10px;
        margin-right: 5px;
        color: black;
        padding: 0,2%;
        text-align: left;
    }
    section ul li{
       
        font-size: 19px;
    }
    section ul li a{
       
        margin-left: 10px;
        margin-right: 5px;
        
        padding: 0,2%;
        text-align: left;
    }
    h1 {
        color: #5105cb;
        margin-left: 10px;
        padding: 0,2%;
        text-align: left;
    }
    h2 {
        margin-left: 10px;
        font-size: 22px;
        color:  #31017d;
        padding: 0,2%;
        text-align: left;
    }
    h3 {
        margin-left: 10px;
        font-size: 22px;
       
        color: #bc0006;
        padding: 0,2%;
        text-align: left;
    }
    h4 {
       
        margin-left: 10px;
       }
    h5 {
        margin-left: 10px;
    }
    section p{
        margin-left: 15px;
        margin-right: 15px;
        color: black;
        padding: 0,2%;
        text-align: left;
        
        font-family: Arial, Helvetica, sans-serif;    
    }
  
    
    .check-list li{        
        margin-left: 40px;
        
        
    }
    .check-list ol{
        margin-left: 19px;
    }

    .checklist-stats li{
         line-height: 22px;
    }
    
    
  
    .table-combos table{
        width: auto;
        margin-left: 10px;          
    }
    table {
        width: auto;
        margin-left: 10px;  
    }

    .table-combos table{
       
        margin-top: 5px;

        
    }
    table {
    margin: 10px;
    width: 95%;
    }
   
    .table-combos th,td{
        font-size: 15px;
    }

    .container{
        width: auto;
    
    }

    
    
    .main {   
        -ms-flex:100%; /* IE10 */
        flex: 100%;
        background-color: black;
    }
    main{
        flex-direction: column;
    }
    
    
    .footer a img{
            width: 10%;
            
    }

    

    .iconeyt {
            color: #e20b0b;    
            margin-left: 3px;
            font-size: 18px;
            list-style: none;    
}
    

        

}
    

/* width mesmo tamanho do nav */        
/* width mesmo tamanho do nav */        
.footer{
    max-width: 1000px;
    background-color: #c8e4ee;
    padding:3px 0px;
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
}

        
.footer .row{
    width:100%;
    margin:1% 0%;
    padding: 0,1% 0%;
    color:rgb(4, 2, 25);
    
    }
    
    .footer .row a{
    text-decoration:none;
    font-size: 16px;
    color: black;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color: red;
    }
    .footer image:hover{
    color: red;
    }
    
    .footer .row ul{
    width:100%;
    
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 5px;
    font-size: 12px;
    }
    
    .footer .row a i{
    font-size: 2em;
    margin:0% 1%;
    }
    .footer p{
      
        text-align: center;
    }
    .footer img{
        width: auto;
        height: 30px;
        margin: 1% 2%;
        padding: 0,9% 1%;
        border-radius: 100%;
        
    }
    
    .footer .row ul li{
        display:inline-table;
        margin:5px 20px;
        text-align:center;
        }
    .footer .row a i{
        margin:0% 3%;
        }
    #message {
        font-size: 14px; /* font copyright footer - Altere este valor para o tamanho de fonte desejado */
        }
    
    /* calendar Hero Wars Alliance pc e mobile */
        .calendar {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 10px;
            padding: 20px;
        }
        .calendar .event-container {
            position: relative;
            padding: 10px;
            background-color: #ff2323;
            border-radius: 5px;
            text-align: center;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .event {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
        }
        .event a {
            color: #fff;
            text-decoration: none;
            z-index: 2;
            position: relative;
            font-weight: bold;
            top: 50px;
            left: 2px;
        }
        .event img {
            width: 100%;
            height: auto;
            position: absolute;
            top: 55%;
            left: 51%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5);
            z-index: 1;
        }
        .date {
            position: absolute;
            z-index: 2;
            color: #fff;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            top: 1px;
            left: 2px;
            font-weight: bold;
        }
        .event-title {
            position: absolute;
            z-index: 2;
            color: #fff;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            bottom: 5px;
            left: 5px;
            right: 5px;
            text-align: center;
            font-weight: bold;
        } 
        @media (max-width: 768px) {
            .calendar {
                grid-template-columns: repeat(4, 1fr);
            }
        }
        @media (max-width: 480px) {
            .calendar {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    
        
    
    
    
        
    
    



@media screen and (max-width: 600px) {
    .box-cookies {
        flex-direction: column;
        border-left: none;
    }
} 
    
/* Estilos para a imagem dos menus Alexandre Games */



/* Classe para esconder conteúdo em telas maiores que 700px */
.mobile-only {
    display: none;
}

/* Classe para esconder conteúdo em telas maiores que 700px */
.desktop-only {
    display: none;
}

/* Exibir conteúdo mobile em telas até 700px */
@media only screen and (max-width: 700px) {
    .mobile-only {
        display: block;
    }
}

/* Exibir conteúdo desktop em telas maiores que 701px */
@media only screen and (min-width: 701px) {
    .desktop-only {
        display: block;
    }
}
