/* Styles críticos para renderizar o conteúdo acima da dobra #f9f9f9; */
.content-wrapper1 {
    max-width: auto;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    min-height: 100px;
  }
  
  .content-wrapper1 p {
    font-size: 22px;
    margin-left: 30px;
    margin-top: 5px;
    line-height: 30px;
    text-align: left;
  }
  
.ad-fold-container-wrapper {
    width: 100%; /* Ocupa toda a largura disponível */
    max-width: 728px; /* Tamanho máximo para anúncios no desktop */
    min-height: 293px; /* Altura mínima padrão para anúncios */
    margin: 0 auto; /* Centraliza horizontalmente */
    display: flex; /* Garante alinhamento do conteúdo */
    align-items: center; /* Alinha o anúncio verticalmente */
    justify-content: center; /* Alinha o anúncio horizontalmente */
    box-sizing: border-box; /* Inclui padding e bordas no cálculo do tamanho */
    background-color: #f9f9f9; /* Placeholder visual cor #f9f9f9; */
    overflow: hidden; /* Evita transbordo de conteúdo */
    position: relative; /* Define um contexto para elementos filhos */
}

  